body{
	margin: 100px 100px 100px 100px;
}
hr{
	border-top:3px solid !important;
}
.nezid-logo{
	width:64px;
	height:64px;
	margin-top:5px;
}
.big-mouse{
	margin:auto;
}
.bottom-mouse{
	width:350px;
	height:200px;
}
#header-text{
	text-align: right;	
}
#featured-work{
	padding:10px;
}
